# Java Files #
*.class

# Package Files
*.war

# Eclipse files
.settings
.classpath
.project

# IntelliJ files
.idea
*.iml
out

# Maven files
target

# Mac
.DS_Store

# My private property-file should not be stored in Git
src/main/resources/social/social.properties
