<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss:SSS} %-5p %t %c{1}:%L - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="org.verygroup" level="INFO"/>
    <logger name="org.springframework.security" level="INFO"/>
    <logger name="org.springframework.social" level="INFO"/>
    <logger name="org.apache.http" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>
</configuration>