<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

    <head th:fragment="commonHeadTag(title)">
        <title th:text="${title}" />

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" />
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

        <style type="text/css">
            .ml {
                width: 110px;
                color: white;
                text-decoration: none;
            }

            .ml:hover,
            .ml:focus,
            a:focus {
                color: white;
                text-decoration: none;
            }
        </style>
    </head>

    <body>
        <div th:fragment="userInfo">
            <!-- Replace navbar-default with navbar-inverse to get a black header -->
            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand">
                            Вход через соц.сети
                        </a>
                    </div>

                    <div>
                        <p th:unless="${currentUserConnection == null}" class="navbar-text navbar-right">
                            Вход выполнен через

                            <a th:if="${currentUserConnection.providerId == 'linkedin'}" class="ml btn btn-social-icon btn-sm btn-linkedin">
                                <i class="fa fa-linkedin"></i>
                            </a>

                            <a th:if="${currentUserConnection.providerId == 'facebook'}" class="ml btn btn-social-icon btn-sm btn-facebook">
                                <i class="fa fa-facebook"></i>
                            </a>

                            <a th:if="${currentUserConnection.providerId == 'twitter'}" class="ml btn btn-social-icon btn-sm btn-twitter">
                                <i class="fa fa-twitter"></i>
                            </a>

                            <a th:if="${currentUserConnection.providerId == 'vkontakte'}" class="ml btn btn-social-icon btn-sm btn-vk">
                                <i class="fa fa-vk"></i>
                            </a>

                            <a th:if="${currentUserConnection.providerId == 'odnoklassniki'}" class="ml btn btn-social-icon btn-sm btn-odnoklassniki">
                                <i class="fa fa-odnoklassniki"></i>
                            </a>

                            <a th:if="${currentUserConnection.providerId == 'google'}" class="ml btn btn-social-icon btn-sm btn-google">
                                <i class="fa fa-google-plus"></i>
                            </a>

                            от имени

                            <span th:text="${currentUserDisplayName}"/>
                            <img th:src="${currentUserConnection.imageUrl}" width="32" height="32" />
                        </p>
                    </div>
                </div>
            </nav>
        </div>
    </body>

</html>