<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:include="fragments/header :: commonHeadTag('Главная страница')" />

    <body>
        <div th:replace="fragments/header :: userInfo"/>

        <div class="container">
            <h2>Главная страница</h2>

            <p>
                <form method="POST" th:action="@{/update}">
                    <input type="text" name="data" th:value="${currentData}"/>
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                    <button>
                        Обновите ваши данные
                    </button>
                </form>
            </p>

            <p>
                <form method="POST" th:action="@{/logout}">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                    <button>
                        Разлогиниться
                    </button>
                </form>
            </p>

            <div th:replace="fragments/exception :: errorInfo"/>

        </div>
    </body>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" />

</html>