<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

    <head th:include="fragments/header :: commonHeadTag('Login page')" />

    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" />
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" />

        <div th:replace="fragments/header :: userInfo"/>

        <div class="container">
            <h2>Login page</h2>

            <p>Sign in with:</p>

            <table style="border-collapse: separate; border-spacing: 2px">
                <tr>
                    <td>
                        <a href="/auth/linkedin" class="ml btn btn-block btn-social-icon btn-sm btn-linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </td>
                    <td>
                        <a href="/auth/facebook" class="ml btn btn-block btn-social-icon btn-sm btn-facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/auth/twitter" class="ml btn btn-block btn-social-icon btn-sm btn-twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </td>
                    <td>
                        <a href="/auth/google?scope=profile" class="ml btn btn-block btn-social-icon btn-sm btn-google">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/auth/odnoklassniki" class="ml btn btn-block btn-social-icon btn-sm btn-odnoklassniki">
                            <i class="fa fa-odnoklassniki"></i>
                        </a>
                    </td>
                    <td>
                        <a href="/auth/vkontakte" class="ml btn btn-block btn-social-icon btn-sm btn-vk">
                            <i class="fa fa-vk"></i>
                        </a>
                    </td>
                </tr>
            </table>

            <div th:include="fragments/exception :: errorInfo"/>

        </div><!-- /.container -->
    </body>
</html>